exclude .appveyor.yml
exclude .gitignore
exclude .travis.yml
exclude readthedocs.yml
exclude Makefile
recursive-exclude ci *

include LICENSE
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
